*{
    margin: 0px ;
    padding: 0px;
}
#tarjeta {
    margin: auto;
    margin-top: 50px;
    border-radius: none;
    width: 350px;
    height: 350px;
    background-color: #00bb2d;
}

#imagen2{
    padding: 4px;
     margin: 8px; 
     width: 120px;
     border: black 2px solid;
}
