*{
    margin: 0px ;
    padding: 0px;
}
#principal {
    margin: auto;
    margin-top: 50px;
    border-radius: none;
    width: 350px;
    height: 350px;
    background-color: #232f3e;
}

.nombre{
    color: #FFFFFF;
    text-decoration: underline;
}

p#oblique {
    font-style: oblique;
    color: #29d;
    text-justify: center;
}

.contenedor{
    margin-left: auto;
    margin-right: auto;
    
}
